body{
	background:url("images/inventory.jpg")
	padding:10px 20px;
	background-size:cover;
	min-height:100%;
	font-size:18px;
	display:flex;
	flex-flow:column;
	align-items:center;
}
.formI{
display:flex;
padding:10px;
}
center{
	width:100%;
}
.addcu > .form-control{
	width:75%;
}
.form-group{
	padding-top:15px;
}